<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
    </head>

    <body>
        <h1>Admin Login</h1>
        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username() }}
                {% for error in form.username.errors %}
                    <span style="color:red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password() }}
                {% for error in form.password.errors %}
                    <span style="color:red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
        <p><a href="{{ url_for('index') }}">Back to Main Menu</a></p>
    </body>
</html>